/bower_components/*
dest/
build/
node_modules/*
temp/*
.bowerrc
*.log
.ftpconfig

# thumbs
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
[Tt]humbs.db

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
